body {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    width: 50%;
}

.search_div {
    background: #fff;
    width: 80%;
    border-radius: 20px;
    cursor: text;
    padding: 7.5px;
    min-height: 50px;
}

input {
    border: none;
    background: none;
    outline: none;
    font-size: 17px;
    padding: 4px 10px;
    width: 90%;
}